<!-- start of careers-section --> 
<section class="careers-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-10 col-lg-offset-1">
                <div class="job-search-form">
                    <form class="form">
                        <div>
                            <h5>What position are you looking for?</h5>
                            <input type="text" class="form-control" placeholder="Job title or Keywords">
                        </div>
                        <div>
                            <h5>Location</h5>
                            <input type="text" class="form-control" placeholder="City, State or Zip Code">
                        </div>
                        <div>
                            <button type="submit"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </form>
                </div>

                <div class="filter-row">
                    <div class="pagi">
                        <a href="#"><i class="fa fa-arrow-circle-left"></i></a>
                        <span>1 of 3 </span>
                        <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="sorting-form">
                        <form class="form">
                            <select class="form-control">
                                <option selected disabled>Sort By &nbsp;</option>
                                <option>name</option>
                                <option>name</option>
                                <option>name</option>
                                <option>name</option>
                            </select>
                        </form>
                    </div>
                </div>

                <div class="job-lists">
                    <div class="job">
                        <div class="left-col">
                            <div class="job-header">
                                <h3><a href="#">Marine Production Helper</a></h3>
                                <span class="date">Posted 11 hours ago</span>
                            </div>
                            <div class="job-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="job-footer">
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> Portland, OR</li>
                                    <li>Mega Industry, LLC</li>
                                    <li>Production</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-col">
                            <div class="apply-share">
                                <a href="#">Apply now</a>
                                <a href="#"><i class="fa fa-share-square"></i> Share job</a>
                            </div>
                        </div>
                    </div>
                    <div class="job">
                        <div class="left-col">
                            <div class="job-header">
                                <h3><a href="#">Marine Production Helper</a></h3>
                                <span class="date">Posted 11 hours ago</span>
                            </div>
                            <div class="job-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="job-footer">
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> Portland, OR</li>
                                    <li>Mega Industry, LLC</li>
                                    <li>Production</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-col">
                            <div class="apply-share">
                                <a href="#">Apply now</a>
                                <a href="#"><i class="fa fa-share-square"></i> Share job</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end of careers-section -->
