<!-- start page-title-wrapper -->
<div class="page-title">
    <div class="container">
        <h1>FAQ</h1>
    </div>
</div>
<!-- end page-title-wrapper -->


<!-- start of testimonials-s2-faq --> 
<section class="testimonials-s2-faq section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 col-lg-offset-2 faq-col">
                <div class="section-title-s4">
                    <h2><span>FAQ</span></h2>
                </div>
                <div class="panel-group faq-accordion theme-accordion-s2" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">What are the main changes to the Construction?</a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Criteria requiring appointments of Project.</a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What are the main changes to the Construction?</a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end of testimonials-s2-faq -->       
