
<section class="services-serction-s2 section-padding">
    <div class="container">
        <div class="row section-title-s6">
            <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2><span>Services</span> we provide</h2>
                <p>Mauris ornare tellus et cursus volutpat. Praesent neque justo, dapibus id vestibulum nec, accumsan vitae sapien. Curabitur tempus tortor sit amet sapien.</p>
            </div>
        </div> <!-- end section-title -->

        <div class="row services-s2-grids">
            <div class="col col-lg-4 col-xs-6">
                <div class="grid">
                    <div class="img-holder">
                        <img src="images/services-s2/img-1.jpg" alt class="img img-responsive">
                    </div>
                    <div class="details">
                        <h3><a href="#">Iron Welding</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        <a href="#" class="read-more"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-xs-6">
                <div class="grid">
                    <div class="img-holder">
                        <img src="images/services-s2/img-2.jpg" alt class="img img-responsive">
                    </div>
                    <div class="details">
                        <h3><a href="#">Petrolium Refinery</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        <a href="#" class="read-more"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-xs-6">
                <div class="grid">
                    <div class="img-holder">
                        <img src="images/services-s2/img-3.jpg" alt class="img img-responsive">
                    </div>
                    <div class="details">
                        <h3><a href="#">Oil Plantation</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        <a href="#" class="read-more"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-xs-6">
                <div class="grid">
                    <div class="img-holder">
                        <img src="images/services-s2/img-4.jpg" alt class="img img-responsive">
                    </div>
                    <div class="details">
                        <h3><a href="#">Petrochemical Lab</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        <a href="#" class="read-more"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-xs-6">
                <div class="grid">
                    <div class="img-holder">
                        <img src="images/services-s2/img-5.jpg" alt class="img img-responsive">
                    </div>
                    <div class="details">
                        <h3><a href="#">Bridge Construction</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        <a href="#" class="read-more"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-xs-6">
                <div class="grid">
                    <div class="img-holder">
                        <img src="images/services-s2/img-6.jpg" alt class="img img-responsive">
                    </div>
                    <div class="details">
                        <h3><a href="#">Industrial Automation</a></h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                        <a href="#" class="read-more"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Read More</a>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end of services-serction-s2 -->


<!-- start of how-we-work --> 
<section class="how-we-work section-padding">
    <div class="container">
        <div class="row section-title-s6">
            <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>How we <span>work</span></h2>
                <p>Mauris ornare tellus et cursus volutpat. Praesent neque justo, dapibus id vestibulum nec, accumsan vitae sapien. Curabitur tempus tortor sit amet sapien.</p>
            </div>
        </div> <!-- end section-title -->

        <div class="row content">
            <div class="col col-md-4">
                <div class="grid">
                    <span class="icon">
                        <i class="fi flaticon-strategy"></i>
                    </span>
                    <h3>Planning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="grid">
                    <span class="icon">
                        <i class="fi flaticon-file-1"></i>
                    </span>
                    <h3>Product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="grid">
                    <span class="icon">
                        <i class="fi flaticon-megaphone"></i>
                    </span>
                    <h3>Branding</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end of how-we-work -->


<!-- start of fun-fact --> 
<section class="fun-fact section-padding">
    <div class="container">
        <div class="row section-title-s4">
            <div class="col col-xs-12">
                <h2>Some facts in <span>Numbers</span></h2>
            </div>
        </div> <!-- end section-title -->

        <div class="row start-count">
            <div class="col col-sm-4">
                <div class="grid">
                    <h4><span  class="counter" data-count="1200">00</span><span>+</span></h4>
                    <h3>Projects</h3>
                    <p>inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="grid">
                    <h4><span  class="counter" data-count="800">00</span><span>+</span></h4>
                    <h3>Clients</h3>
                    <p>inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="grid">
                    <h4><span  class="counter" data-count="99">00</span><span>%</span></h4>
                    <h3>Satisfaction</h3>
                    <p>inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end of fun-fact -->


<!-- start of latest-projects-s2 --> 
<section class="latest-projects-s2 section-padding">
    <div class="container">
        <div class="row section-title-s6">
            <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Our latest <span>projects</span></h2>
                <p>Mauris ornare tellus et cursus volutpat. Praesent neque justo, dapibus id vestibulum nec, accumsan vitae sapien. Curabitur tempus tortor sit amet sapien.</p>
            </div>
        </div> <!-- end section-title -->

        <div class="row latest-projects-s2-grids">
            <div class="col col-lg-6 left-col">
                <div class="grid">
                    <div class="img-holder">
                        <img src="images/latest-projects-s2/img-1.jpg" alt class="img img-responsive">
                    </div>
                    <div class="details">
                        <h3><a href="#">Exo Sys Elixir Refiniry</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Rotterdam, Netherlands</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 right-col">
                <div class="grid">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="images/latest-projects-s2/img-2.jpg" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <h3><a href="#">Welding Activity</a></h3>
                            <p class="location"><i class="fa fa-map-marker"></i> Rotterdam, Netherlands</p>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="images/latest-projects-s2/img-3.jpg" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <h3><a href="#">Welding Activity</a></h3>
                            <p class="location"><i class="fa fa-map-marker"></i> Rotterdam, Netherlands</p>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="images/latest-projects-s2/img-4.jpg" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <h3><a href="#">Welding Activity</a></h3>
                            <p class="location"><i class="fa fa-map-marker"></i> Rotterdam, Netherlands</p>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="images/latest-projects-s2/img-5.jpg" alt class="img img-responsive">
                        </div>
                        <div class="details">
                            <h3><a href="#">Welding Activity</a></h3>
                            <p class="location"><i class="fa fa-map-marker"></i> Rotterdam, Netherlands</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <div class="all-projects">
            <a href="#" class="theme-btn-s2">All projects</a>
        </div>
    </div> <!-- end container -->
</section>
 